@media (prefers-color-scheme: dark) {
    :root {
        --number-of-cols-rows: 10
    }
}

#game-grid  p {
    color: whitesmoke;
    display: center;
    font-weight: bold; 
}

body {
    height: 100%;
    display: center;
}

#game-grid {
    display: grid;
    width: 500px;
    height: 500px;
    
    border-radius: 5;
    border-width: 1px;
    border-color: black;
    
    /* Game space */
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    gap: 2px;

    justify-content: center;

}

#game-grid > .bg-item {
    background-color: #590277;
    opacity: 55%;
    text-align: center;
}